html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

.hidden {
	display: none !important;
}

.app {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 10px;
	left: 0;
}

.imageLoader {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px dashed black;
	width: 400px;
	height: 300px;
}

.fileSelect {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
}

.imageMosaic {
	display: flex;
}

.svgs {
	line-height: 0;
}
